<div class="container">
	<div>
		<!--<button ng-click="click()">Load</button>-->
		<h4 class="heading-medium">Recommended Users</h4>
		<div class="recUser" ng-repeat="user in recUsers">
			<img src="{{user.profilePicLink}}"></img>
			<span>{{user.username}}</span>
			<button>Follow</button>
			<button ng-click="closeUser(user.username)">X</button>

		</div>
	</div>
	<h4 class="heading-medium">News Feed</h4>
	<div class="event" ng-repeat="event in events">
		{{event.type}}
		<div class="user-badge" ng-repeat="user in event.users">
			<img src="{{user.profilePicLink}}"></img>
			{{user.username}}
		</div>
		<button>X</button>
	</div>
</div>