<div class="landing">
  <div class="category">
    <h2 class="heading-large">Popular Movies</h2>
    <div class="horizontal">
      <div class="table">
        <div ng-init="LandingVm.fetchPopularMovies()" class="media-list">
          <popular-movie ng-repeat="popularmovie in LandingVm.popularmovies | limitTo:20"></popular-movie>
        </div>
      </div>
    </div>
  </div>
  <div class="category">
    <h2 class="heading-large">Latest Movies</h2>
    <div class="horizontal">
      <div class="table">
        <div ng-init="LandingVm.fetchLatestMovies()" class="media-list">
          <latest-movie ng-repeat="latestmovie in LandingVm.latestmovies | limitTo:20"></latest-movie>
        </div>
      </div>
    </div>
  </div>
  <div class="category">
    <h2 class="heading-large">Upcoming Movies</h2>
    <div class="horizontal">
      <div class="table">
        <div ng-init="LandingVm.fetchUpcomingMovies()" class="media-list">
          <upcoming-movie ng-repeat="upcomingmovie in LandingVm.upcomingmovies | limitTo:20"></upcoming-movie>
        </div>
      </div>
    </div>
  </div>
  <div class="category">
    <h2 class="heading-large">Popular TV Shows</h2>
    <div class="horizontal">
      <div class="table">
        <div ng-init="LandingVm.fetchPopularShows()" class="media-list">
          <popular-show ng-repeat="popularshow in LandingVm.popularshows | limitTo:20"></popular-show>
        </div>
      </div>
    </div>
  </div>
  <div class="category">
    <h2 class="heading-large">TV Shows Airing Today</h2>
    <div class="horizontal">
      <div class="table">
        <div ng-init="LandingVm.fetchLatestShows()" class="media-list">
          <latest-show ng-repeat="latestshow in LandingVm.latestshows | limitTo:20"></latest-show>
        </div>
      </div>
    </div>
  </div>
  <!--Newsfeed panel-->
  <pageslide ps-open="true" ps-click-outside="false" ps-target="#news" ps-key-listener="true" ps-size="500px ">
    <div id="news" class="ng-pageslide" ng-controller="newsFeedController">
      <div class="recommended ">
        <h4 class="heading-medium ">Recommended Users</h4>
        <div class="recUser " ng-repeat="user in recUsers ">
          <img src="{{user.profilePicLink}} "></img>
          <span>{{user.username}}</span>
          <button ng-click=" ">Follow</button>
          <button ng-click="closeUser(user.username) ">X</button>
        </div>
      </div>
      <div class="newsfeed">
        <h4 class="heading-medium ">News Feed</h4>
        <div class="event " ng-repeat="event in events ">
          <span>{{event.emoji}}</span>
          <div class="user-badge " ng-repeat="user in event.users ">
            <img src="{{user.profilePicLink}} "></img>
            {{user.username}}
          </div>
          <button ng-click="closeEvent(event._id) ">X</button>
        </div>
      </div>
    </div>
  </pageslide>
</div>